.background {
    background-color: rgba(216, 222, 203, 0.581);
    padding: 7vw
}

#splash {
    height: 10vh;
    min-height: 600px;
    max-height: 900px;
}

#splash-hero {
    position: absolute;
    top: 200px;
    left: 40%;
    transform: translateX(-66.4%);
    font-size: 3.2em;
    font-family: "MrsEavesRoman", Georgia, "Times New Roman", Times, serif;
}

#splash-hero .text-block {
    padding-left: 100px;
    height: 60px;
    width: 1000px;
    white-space: nowrap;
}

#splash-hero .text-block:nth-child(1) {
    width: 470px;
    line-height: 60px;
    padding-left: 22px;
    transform: translate(-3px);
}

#splash-hero .text-block:nth-child(2) {
    width: 230px;
    transform: translateX(40px);
    line-height: 60px;
}

#splash-text {
    position: absolute;
    left: 40%;
    top: 270px;
    transform: translateX(-50%);
    font-size: 1.5em;
}

.text-block {
    padding: 2px 2px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 3px;
}

.text-block .small-caps {
    font-variant: small-caps;
    font-size: 0.9em;
}

.text-block .sidebar-link {
    font-style: italic;
}

#splash-text .text-block {
    height: 28px;
    line-height: 29pt;
}

#splash-text .text-block:nth-child(1) {
    width: 500px;
}

#splash-text .text-block:nth-child(2) {
    width: 1000px;
}

.figure-background {
    background-color: white;
    margin: 2rem 25% 2rem 2rem;
    width: 70%; 
}

.figure-container1 {
    padding: 1rem
}

.figure-container2{
    padding:1em
}

.map-col1{
    width: 50%;
    margin: 2rem 2rem 2rem 2%;
    line-height: 1.5rem;
    align-self: center;
}